[package]
name = "creational"
version = "0.1.0"
edition = "2024"

[dependencies]
rand = "0.9.2"
thiserror = "2.0.17"
tracing = "0.1.41"
tracing-subscriber = "0.3.20"
uuid = { version = "1.19.0", features = ["v4"]}
